/* applied on the div in which submit and reset button are placed */
.submit {
    background-color: #adbbcb;
    height: 40px;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 0px 0px 17px 17px;
}

/* applied to clear the float left and right */
.clear {
    clear: both;
}

/* applied on the submit button */
.finalButton {
    padding: 10px;
    margin-right: 20px;
    background-color: #adbbcbbd;
}

/* applied on the heading */
#heading {

margin-top: 1px;

background-color: #132639;

background-color: #cbcfd499;

margin-bottom: 0px;

padding-top: 10px;

padding-bottom: 10px;

max-width: 100%;

margin-left: 0px;

padding-left: 50px;

border-radius: 17px 17px 0px 0px;

color: white;

text-align: center;
}

/* applied on the main div that acts as container */
.main_container {
    margin: auto;
    border: 1px dotted black;
    width: 700px;
    border-radius: 17px;
    background-color: rgba(51, 102, 153, 0.6);
    box-shadow: 1px -1px 20px 3px #7699bd;
}

/* applied on all  the elements within the form */
.formelement {
    position: relative;
    margin: 10px auto;
    width: 80%;
}

/* applied on the left div that had all the head labels on left side of form */
.leftdiv {
    position: relative;
    float: left;
    width: 40%;
    margin: 10px 0px 10px 50px;
    box-sizing: border-box;
}

/* applied on right div that has all the input and select boxes on the right of form */
.rightdiv {
    position: relative;
    float: left;
    width: 40%;
    margin: 10px auto;
    box-sizing: border-box;
}

/* applied on head labels of the form elements */
.headlabel {
    display: block;
    float: right;
    margin-right: 3px;
    color: whitesmoke;

}

/* applied on the input boxes  */
.inputBox {
    display: block;
    width: 90%;
    padding-left: 10px;
    padding:2px;
    border-radius: 4px;
}

/* applied on sublabels below the input boxes */
.sublabel {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 3px;
    color: whitesmoke;
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

/* applied on the radio buttons */
input[type="radio"] {
    margin-bottom: 10px;
    color: whitesmoke;
}

/* applied on the select boxes */
select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    width: 100%;
    
}

/* applied on the manadatory asterisk icon */
.fa-asterisk {
    color: rgb(129, 1, 7);
    font-size: 7px;
    margin-left: 0px;
    border: 1px, solid, black;
}

.y {
    display: block;
    margin-right: 16px;
    float: right;
}

/* applied on yes and no option of the p tag */
p {
    display: inline;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

body {
    background: #f3f3f3;
    background-image: -o-linear-gradient(#80aaff, #d9b3ff);
}

/* applied on head labels with no asterisk icon */
.headlabelAdjust {
    margin-right: 20px;
}

.leftleftdiv {
    width: 40%;
    margin-left: 2px;
    margin-top: 5px;
}

.rightrightdiv {
    width: 50%;
    margin-right: 0px;
    margin-top: 5px;
}

.half

/*halves the width of area code of phone*/
    {
    width: 45%;
}

input[name="submit"] {
    margin-left: 40%;
}

label[name="country"] {
    margin-bottom: 2px;
}

.cityArea {
    width: 80%;
}

.eye {
    position: absolute;
    color: #132639;
    display: none;
    top: 0px;
    margin-left: 180px;
    padding: 2px;
}

/* applied to the div in which captcha is kept */
#captcha {
    background-color: #132639;
    height: 80px;
    width: 250px;
    position: relative;
    margin: auto;
    border-radius: 2px;
}

/* applied to refresh button in captcha */
#refreshButton {
    position: absolute;
    top: 0px;
    right: 0;
    border: none;
    padding: 5px;


}

/* applied to the input box in captcha */
#captchaBox {
    position: absolute;
    top: 25px;
    left: 5px;
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#captchaContent {
    font-size: 20px;
    background-color: pink;
    display: block;
    position: absolute;
    top: 32px;
    left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/* applied to the alert box */
#alertBox {
    border-radius: 10px;
    height: 100px;
    width: 200px;
    opacity: 0.5;
    background-color: #132639;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

/* applied to the ok button in alert box */
#alertOkButton {
    display: block;
    position: absolute;
    bottom: 0px;
    margin-left: 40%;
    margin-bottom: 5%;
    border-radius: 5px;

}

/* applied to error message generated in error box */
#alertMessage {
    display: block;
    font-family: Arial, Helvetica, sans-serif;

    padding: 5px;
}

/* applied to the heading in the error box */
span {
    color: red;
    display: block;
    position: relative;
    top: 2%;
    left: 40%;
    font-weight: bolder;
    text-decoration: underline;
}
.errorRed
{
    border:2px solid  rgb(129, 1, 7);
}
.validGreen
{
    border:2px solid olive;
}
.errorMessage
{
    color: rgb(129, 1, 7);
}
.validMessage
{
color:aquamarine;
}
.subCaptcha
{
    position:absolute;
    bottom:0px;
    left:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.captchaLabelError
{
    color: rgb(129, 1, 7);
    position:absolute;
    bottom:0px;
    left:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.captchaLabelValid
{
    color:olive;
    position:absolute;
    bottom:0px;
    left:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}